body {
  background-image: url("./images/background_map.jpg");
}

.row {
  margin: -3px auto;
}

#pageTitle {
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin: 5px auto;
}

#playerInfoDiv {
  display: inline-block;
  width: 100%;
}

#timerContainer, 
#bannerContainer,
#scoreContainer {
  border: 3px solid black;
  height: 75px;
  text-align: center;
  margin: 5px auto;
  border-radius: 5px;
}

#timerContainer,
#scoreContainer {
  width: 20%;
}

#bannerContainer {
  width: 60%;
}

#timer {
  margin: 5px auto;
  font-size: 24px;
}

#timer.gameOver,
#playerScore.gameOver {
  margin: 15px auto;
  font-size: 32px;
  font-weight: bold;
}

#time {
  font-weight: bold;
  font-size: 32px;
}

#playerScore {
  margin: 5px auto;
}

.startBtn {
  margin: 15px auto;
  width: 20%;
  height: 40px;
  font-size: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  text-align: center;
}

#banner {
  margin: 25px auto;
}
#imageContainer {
  margin: 2px auto;
}

#openingVid {
  width: 569px; 
  height: 364px;
  border: 5px solid black;
  margin: 0 auto;
  border-radius: 5px;
}

#openingVid .panel-heading {
  background-color: #bf3e11;
  color: white;
  margin-bottom: -1px;
}

#openingVid .panel-body {
  padding: 0px;
}

#regions_div {
   width: 610px; 
   height: 400px;
   border: 5px solid black;
   margin: 0 auto;
   border-radius: 5px;
}

#resultsInfo {
   width: 610px; 
   height: 365px;
   border: 5px solid black;
   margin: 0 auto;
   border-radius: 5px;
   background-color: #D3D3D3;
   text-align: center;
}

#playerGuessForm {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  border: 5px solid red;
  border-radius: 5px;
}

#playerGuessText {
  text-align: center;
  width: 100%;
  background-color: #D3D3D3;
  font-size: 24px;
}

#displayCorrect,
#displayTotal,
#displayPct {
  font-weight: bold;
  color: red;
}

#resultsHeader,
#resultsText,
#resultsImg {
  margin: 5px auto;
}

#resultsImg {
  height: 200px;
}

.hidden {
  display: none;
}