body {
  background-image: url("./images/background_map.jpg");
}

.row {
  margin: -3px auto;
}

#pageTitle {
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin: 5px auto;
}

#playerInfoDiv {
  display: inline-block;
  width: 100%;
}

#timerContainer, 
#bannerContainer,
#scoreContainer {
  border: 3px solid black;
  height: 75px;
  text-align: center;
  margin: 5px auto;
  border-radius: 5px;
}

#timerContainer,
#scoreContainer {
  width: 20%;
}

#bannerContainer {
  width: 60%;
}

#timer {
  margin: 5px auto;
  font-size: 24px;
}

#timer.gameOver {
  margin: 15px auto;
  font-size: 32px;
  font-weight: bold;
}

#time {
  font-weight: bold;
  font-size: 32px;
}

#playerScore {
  margin: 5px auto;
}

#startButton {
  margin: 10px auto;
  width: 50%;
  font-size: 36px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#banner {
  margin: 25px auto;
}
#imageContainer {
  margin: 2px auto;
}

#regions_div {
   width: 610px; 
   height: 400px;
   border: 5px solid black;
   margin: 0 auto;
   border-radius: 5px;
}

#resultsInfo {
   width: 610px; 
   height: 400px;
   border: 5px solid black;
   margin: 0 auto;
   border-radius: 5px;
   background-color: #D3D3D3;
   text-align: center;
}

#playerGuess {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  border: 5px solid red;
  border-radius: 5px;
}

#playerGuessText {
  text-align: center;
  width: 100%;
  background-color: #D3D3D3;
  font-size: 24px;
}

#displayCorrect,
#displayTotal,
#displayPct {
  font-weight: bold;
  color: red;
}
.hidden {
  display: none;
}